<% include functions %>
<div id="credentials" class="tab" style="display:none;">
    <div class="w3-padding">
        <div class="w3-third credential-box" style="width:33%; height:85vh; overflow:scroll;">
            <%for(let credential of credentials) {%>
                <a onclick="showDiv('<%=credential.referent%>', 'credentialsClass')">
                    <div class="credential-item w3-bar w3-btn w3-white w3-border" style="width:100%;">

                        <i width="50" height="50" style="font-size: 32px" class="<%= getIcon(credential.schema_id.split(':')[2]) %>"></i>
                        <p class="w3-bar-item"><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></p>
                    </div>
                </a>
                <br>
            <%}%>
        </div>
        <%for(let credential of credentials) {%>
            <div id="<%=credential.referent%>" class="w3-padding credentialsClass" style="float:left;width:66%;display:none;">
                <div class="credential-box w3-container" style="margin:0px 30px;">
                    <div class="w3-cell-middle" style="display: block;margin: auto;">
                        <img style="max-height: 70px; max-width: 100%; margin: 0px 25px" src="<%=srcId%>" />
                        <!-- <svg width="320" height="320" data-jdenticon-value="<%=credential.cred_def_id%>"></svg> -->
                    </div>
                    <div class="w3-cell" style="display: block;margin: auto;">
                        <h4><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></h4>
                        <%for(let attr of Object.keys(credential.attrs).sort()) {%>
                        <p style="text-align: left"><%=attr%>: <%=credential.attrs[attr]%></p>
                        <%}%>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <!--<button onclick="document.getElementById('sendCredModel').style.display='block'" class="w3-btn w3-white w3-border">Start</button>-->
</div>

<style>
    .credential-box {
        box-shadow: rgba(128, 128, 128, 0.2) 0px 4px 7px 3px;
        border: none;
        border-radius: 10px;
        background: white;
        padding: 25px;
        overflow: auto !important;
    }

    .credential-item {
        border: none !important;
        border-radius: 5px;
        background: #eee !important;
        display: flex  !important;
        align-items: center;
    }
</style>