<% getImage = function(name) {
  let image = null
  switch(name) {
        case 'Lukas':
            image = 'https://i.ibb.co/KqsFbvy/passenger.png'
            break;
        case 'DSB':
            image = 'https://upload.wikimedia.org/wikipedia/en/thumb/8/87/DSB_company_logo.svg/1200px-DSB_company_logo.svg.png'
            break;
        case 'Danske Bank':
            image = 'https://danskebank.com/-/media/danske-bank-images/global/graphics/logo/danske-bank-logo-dark-bg.jpg?h=450&mw=800&w=800&rev=9f13462f17fe4e3aa8999384c685dcd2&hash=F141BBFB954DEF4C3F56ABCEED1DE5F3'
            break;
        case 'CBS':
            image ='https://pngimage.net/wp-content/uploads/2018/05/copenhagen-business-school-logo-png-6.png'
            break;
        default:
            image = null
    }
    return image

} %>


<% getIcon = function(name) {
    let icon = null

    if(name.includes('Government')) {
        icon = "fas fa-id-card"
    }

    if(name.includes('EMC')) {
        icon = "fas fa-train"
    }
    if(name.includes('Bank')) {
        icon = "fas fa-money-check-alt"
    }
    if(name.includes('University')) {
        icon = "fas fa-university"
    }

    return icon
} %>