<div id="issuing" class="tab" style="display:none;">
    <div class="issuing-box w3-container w3-card w3-padding w3-margin" style="float: left;width: 31%">
        <h3>Create Schema: </h3>
        <form method="POST" action="/api/issuer/create_schema">
            <label>Name of Schema: </label>
            <input type="text" class="w3-input" name="name_of_schema" value="Transcript">
            <br><br>
            <label>Schema Version: </label>
            <input type="text" class="w3-input" name="version" value="1.3">
            <br><br>
            <label>Please supply a JSON array of attributes:</label><br><br>
            <textarea style="height:220px;" class="w3-input" name="attributes" required>[
    "name",
    "degree",
    "status",
    "year",
    "average",
    "ssn"
]</textarea>
            <br><br>
            <input class="w3-btn w3-white w3-border" type="submit">
        </form>
    </div>

    <div style="float: left;width: 31%">
        <div class="issuing-box  w3-container w3-card w3-padding w3-margin">
            <h3>Create Credential Definition</h3>
            <form method="POST" action="/api/issuer/create_cred_def">
                <label>Select a Schema:</label>
                <select class="w3-select" name="schema_id" required>
                    <%for(let schema of schemas) {%>
                    <option value="<%=schema.id%>"><%=schema.name%> <%=schema.version%></option>
                    <%}%>
                </select>
                <br><br>
                <label>Tag:</label>
                <input class="w3-input" type="text" name="tag" value="MyTranscript" required>
                <br><br>
                <input class="w3-btn w3-white w3-border" type="submit">
            </form>
        </div>
        <div class="issuing-box  w3-container w3-card w3-padding w3-margin">
            <h3>Send Credential Offer</h3>
            <form method="POST" action="/api/issuer/send_credential_offer">
                <label>Relationship: </label>
                <select class="w3-select" name="their_relationship_did" required>
                    <%for(let relationship of relationships) {%>
                        <option value="<%=relationship.their_did%>"><%=relationship.metadata.name%></option>
                    <%}%>
                </select>
                <br><br>
                <label>Select a Credential Definition:</label>
                <select id="selected-schema"  onchange="selectSchema()" onchclass="w3-select" name="cred_def_id" required>
                    <option data-schemaId="empty" value="Select a schema">Select a schema</option>

                    <%for(let credDef of credentialDefinitions) {%>
                        <option data-schemaId="<%=credDef.schemaId%>" value="<%=credDef.id%>"><%=credDef.tag%></option>
                    <%}%>
                </select>
                <br><br>
                <div id="schema-values">
                </div>
                <input class="w3-btn w3-white w3-border" type="submit">
            </form>
        </div>
    </div>

</div>

<style>
    .issuing-box {
        box-shadow: rgba(128, 128, 128, 0.2) 0px 4px 7px 3px;
        border: none;
        border-radius: 10px;
        background: white;
        padding: 25px;
        overflow: auto !important;
    }

    .issung-item {
        border: none !important;
        border-radius: 5px;
        background: #eee !important;
        display: flex;
        align-items: center;
    }
</style>

<script>
  function selectSchema() {
    var id = $( "#selected-schema option:selected" ).attr('data-schemaId')
    $("#schema-values").html('')
    //alert('you selected ' + id)
    $.post( "/api/issuer/get_schema",  {schema_id: id }, function( data ) {
      console.log(data, 'logging data from get schema')
      data.attrNames.forEach(a => $("#schema-values").append('<input name="'+a+'" required placeholder="'+a+'"  />') )
    });
  }
</script>