<div id="proofs" class="tab" style="display:none;">
    <form method="POST" action="/api/proofs/send_request">
        <div class="w3-half">
            <div class="w3-container w3-card w3-padding w3-margin">
                <label>Relationship: </label>
                <select class="w3-select" name="their_relationship_did" required>
                    <%for(let relationship of relationships) {%>
                    <option value="<%=relationship.their_did%>"><%=relationship.metadata.name%></option>
                    <%}%>
                </select>
                <br><br>
                <label>Select a Proof Request:</label>
                <select id="currentProofRequest" onchange="showDiv(this.value, 'proofRequestsClass')" class="w3-select" name="proof_request_id" required>
                    <%for(let pr of Object.keys(proofRequests)) {%>
                    <option value="<%=pr%>"><%=pr%></option>
                    <%}%>
                    <option value="proofRequestOther">Other (Paste Proof Request Here) --></option>
                </select>
                <br><br>
                <input class="w3-btn w3-white w3-border" type="submit">
            </div>
        </div>
        <div class="w3-half">
            <%for(let pr of Object.keys(proofRequests)) {%>
                <div id="<%=proofRequests[pr].name%>" class="proofRequestsClass" style="width:100%;display:none;">
                    <textarea style="width:100%;" rows="20" readonly><%=proofRequests[pr].string%></textarea>
                </div>
            <%}%>
            <div id="proofRequestOther" class="proofRequestsClass" style="width:100%;display:none;">
                <textarea name="manual_entry" style="width:100%;" rows="20"></textarea>
            </div>
        </div>
    </form>
</div>

